winds.mobi {
	# API routes
	handle_path /api/* {
		encode gzip zstd

		route {
			handle_path /2/* {
				reverse_proxy http://localhost:8002
			}
			handle_path /2.2/* {
				redir * /api/2.3{uri} permanent
			}
			handle_path /2.3/* {
				reverse_proxy http://localhost:8002
			}
		}
	}

	# Backend routes
	handle /user/* {
		reverse_proxy http://localhost:8006
	}
	handle /admin/* {
		reverse_proxy http://localhost:8006
	}
	handle /django-static/* {
		reverse_proxy http://localhost:8006
	}

	# Catch-all frontend (SPA) fallback
	handle {
		root * /home/winds/winds-mobi-client-web

		# Catch-all frontend (SPA) fallback
		try_files {path} /index.html
		file_server
	}

	log {
		output file /data/var/log/winds.mobi.access.log {
			roll_size 700MiB
			roll_keep 30
			roll_keep_for 30d
		}
	}
}

reports.winds.mobi {
	root * /data/var/www/reports
	file_server browse
}

cadvisor.winds.mobi {
	reverse_proxy http://localhost:8011
}

watchtower.winds.mobi {
	reverse_proxy http://localhost:1588
}
